<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  <div style="display: flex; align-items: center;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Instituto_Tecnologico_de_Oaxaca_-_original.svg/1200px-Instituto_Tecnologico_de_Oaxaca_-_original.svg.png" alt="Logo 1" width="60" height="70" style="float: left;">
  <p style="margin-top: 50px; margin-left: 20px;"> <strong>Instituto Tecnológico de Oaxaca</strong></p>
  <img src="https://moodle-2021.oaxaca.tecnm.mx/pluginfile.php/1/theme_academi/logo/1639125044/Logo%20TecNM%20Horizontal2021a.png" alt="Logo 2" width="140" height="70" style="float: left; margin-left: 20px;">
</div>

<div style="margin-top: 20px;">
  <h3>Nuevo documento creado</h3>
  <p>Hola</p>
  <p>Se ha creado un nuevo documento:</p>
  <ul>
    <li>Nombre del documento: <%= @certificate.documento.nombre %></li>
    <li>Número de control: <%= @certificate.documento.numero_de_control %></li>
   
  </ul>
  <p>¡Gracias!</p>
</div>


  </body>
</html>
