
<div style="text-align: center;">
<h2>Verificación de constancias de inglés</h2>
  <embed style="width: 20%; height: auto; min-width: 80px; margin: 0 auto;" src="http://www.oaxaca.tecnm.mx/themes/tecoaxaca/assets/images/main/ito.png">
</div>

