<div class="container">
<div class="card1 mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Registro de pagos</a></li>
          <li class="breadcrumb-item active">Registrar nuevo pago</li>
        </ol>
        
<h5 class="text">Nuevo pago </h5>
</div>
 <div class="probar">

<%= render "form", payment: @payment %>

<br>

<div>
  <%= link_to "Regresar a constancias pagadas", payments_path %>
</div>
